<div class="row">
  <div ng-if="user.requests.length">
    <h4>Requests</h4>
    <div class="col s12 m5" ng-repeat="req in user.requests">
      <div class="card horizontal requestCard">
        <div class="card-image connectImg">
          <img ng-src="{{req.img}}">
        </div>
        <div class="userInfo">
          <a class="right viewProfile" ui-sref="profileView({id: req._id})">View Profile</a>
          <div class="connectName">
            {{req.name}}
          </div>
          <div class="card-action">
            <a ng-click="acceptCompanion(req._id)">Accept</a>
            <a ng-click="declineCompanion(req._id)">Decline</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div ng-if="!user.companions.length && !user.requests.length">
      <h3 class="center">No companions yet! Go
        <span class="connectHighlight" ui-sref="connect">Connect</span>
        with people.
      </h3>
    </div>
  </div>
</div>
