<div class="row">
  <md-input-container class="col s12">
    <h4>Location</h4>
    <small>Where do you wanna be a guide?</small>
    <input
      aria-label="none"
      ng-model="user.trip[0].location">
   </md-input-container>
   <md-input-container class="col s12">
      <h4>Plan</h4>
      <small>Let people know what you're planning. Be yourself!</small>
      <textarea
       ng-model="user.trip[0].plan"
       md-maxlength="450"
       rows="5"
       aria-label="none"
       md-select-on-focus></textarea>
    </md-input-container>
    <h5 class="col s12">Recommend AirBnB (Optional)</h5>
    <div class="col s12">
      <a class="right"
       ng-click="showAdvanced($event)">
       <div class="bnbSearch">
         <i class="fa fa-search" aria-hidden="true"></i>
         <span class="searchPrompt">Search AirBnB</span>
       </div>
       <div class="col s12" ng-if="err">{{err}}</div>
      </a>
    </div>
    <div class="center">
      <div ng-if="!user.trip[0].airBnB">
        <div class="col s12">
          <img class="center bnbLogo" src="../..//assets/airbnb_logo.png"></img>
        </div>
        <div class="col s12">
          <p class="col s4 offset-s4">AirBnB dude check it out right here this is AirBnB AirBnB dude check it out right here this is AirBnB AirBnB dude check it out right here this is AirBnB</p>
        </div>
      </div>
      <div ng-if="user.trip[0].airBnB">
        <div class="col s12">
          <img class="center listingImg" ng-src="{{user.trip[0].airBnB.pictureUrl}}"></img>
        </div>
      </div>
    </div>
    <div class="col s2 right">
      <button ng-click="saveGuide()" class="btn">Save</button>
    </div>
</div>
