<div class="row">
  <div class="col s8 offset-s2">
    <h3>Register</h3>
    <div class="btn-group col s10 offset-s1">
      <a class="waves-effect waves-light btn">Facebook Login</a>
      <a class="waves-effect waves-light btn">Google Login</a>
    </div>
  </div>


  <div class="col s10 offset-s1">
    <p class="center-align">- OR -</p>
    <form class="reg-form">
      <fieldset class="form-group">
        <label for="reg.email">Email: </label>
        <input ng-model="reg.email" type="email" class="form-control"
          id="reg.email" placeholder="Email" required>
      </fieldset>
      <fieldset class="form-group">
        <label for="reg.password">Password: </label>
        <input ng-model="reg.password" type="password" class="form-control"
          id="reg.password" placeholder="Password" required>
      </fieldset>
      <fieldset class="form-group">
        <label for="reg.password2">Password: </label>
        <input ng-model="reg.password2" type="password" class="form-control"
          id="reg.password2" placeholder="Password (again)" required>
      </fieldset>
      <fieldset class="form-group">
        <label for="reg.name">Name: </label>
        <input ng-model="reg.name" type="text" class="form-control"
          id="reg.name" placeholder="Name" required>
      </fieldset>
      <span>Or click
        <a ui-sref="login">Login</a>
        if you aren't a new user.
      </span>
      <button ng-click="registerUser()" class="btn btn-default right">
        Next
      </button>
      <span ng-if="err" class="error">{{ err }}</span>
    </form>
  </div>
</div>
