<div class="row imgRow">
  <div class="imgWrapper">
    <img class="responsive-img landingImage" src="../..//assets/travelers.jpg" loading-image/>
    <span class="landingText hidden" when-visible="animateTitleIn" ng-if="imgLoaded">
      <h1 class="landingTitle">newfie</h1>
      <p class="landingTag">Travel with the right companions,
        <br />
      everytime</p>
    </span>
  </div>
</div>

<span ng-if="imgLoaded">
  <div class="row connect intro center">
    <img class="pupPicture hidden" when-visible="animateTitleIn" src="./assets/newfie_white.png">
    <h2 class="landingQuest hidden" when-visible="animateTitleIn">What's
      <span class="appName">
        newfie</span>?
    </h2>
    <p class="col s12 m4 offset-m4 hidden" when-visible="animateTitleIn">
      Just like the breed of dog, <span class="appName">newfie</span> is
      short for <span class="appName">Newfoundland</span>. <span class="appName">Newfie</span>
      is the first travel app to connect <span class="appName">Guides</span> and
      <span class="appName">Companions</span> based on honesty and similar experiences.
      Create a profile, brag about everything you've done, and start connecting with similar
      travelers!
    </p>
  </div>


  <div class="row landingUnique">
    <div class="col s12 m4">
      <div class="circle center hidden" when-visible="animateCircleIn">
        <i class="fa fa-map-signs uniqueIcon" aria-hidden="true"></i>
        <h4 class="uniqueTitle">Guide</h4>
        <p class="uniqueDesc">Lead companions with your knowledge from past experiences</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="circle center hidden" when-visible="animateCircleIn">
        <i class="fa fa-trophy uniqueIcon" aria-hidden="true"></i>
        <h4 class="uniqueTitle">Ranks</h4>
        <p class="uniqueDesc">Show off what you've done and where you been</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="circle center hidden" when-visible="animateCircleIn">
        <i class="fa fa-check-square-o uniqueIcon" aria-hidden="true"></i>
        <h4 class="uniqueTitle">Verify</h4>
        <p class="uniqueDesc">Ensure you're meeting the right travelers who share your vacation style</p>
      </div>
    </div>
  </div>

  <div class="row connect">
    <div class="info col s12 center">
      <h3 class="hidden" when-visible="animateTitleIn">Bring It All Together</h3>
    </div>
    <div class="col s12 m6 center hidden" when-visible="animateConnectIn">
      <img class="logoImage" src="../..//assets/duolingo_logo.png">
      <h5>Prove Yourself!</h5>
      <p>Connect your Duolingo skills to your newfie account</p>
    </div>
    <div class="col s12 m6 center hidden" when-visible="animateConnectIn">
      <img class="logoImage" src="../..//assets/airbnb_logo.png">
      <h5>Sell Yourself!</h5>
      <p>Become a guide and advertise your AirBnB</p>
    </div>
  </div>


  <div class="row connect intro center bottom">

    <div class="col s12 center" ng-show="sending">
      <div ng-if="sending" class="center">
        <img src="./assets/balls.svg">
      </div>
    </div>

    <div ng-if="!sent && !sending" class="hidden form" when-visible="animateTitleIn">
      <h1>Let us know what you think!</h1>
      <p>Leave some feedback and we'll do what we can.</p>
      <div class="col s12 m4 offset-m2">
        <md-input-container class="landingContainer md-block">
            <label class="landingLabel">Name</label>
            <input class="landingInput" md-maxlength="30" name="name" ng-model="email.name">
        </md-input-container>
      </div>
      <div class="col s12 m4">
        <md-input-container class="landingContainer md-block">
            <label class="landingLabel">Email</label>
            <input class="landingInput" md-maxlength="40" required name="email" ng-model="email.address">
        </md-input-container>
      </div>
      <div class="col s12 m8 offset-m2">
        <md-input-container class="landingContainer md-block">
            <label class="landingLabel">Message</label>
            <textarea
              class="landingInput"
              md-maxlength="450"
              row="5"
              required
              name="message"
              ng-model="email.message"></textarea>
        </md-input-container>
      </div>
      <div class="col s12 m4 offset-m7">
        <button class="btn" ng-click="sendFeedback()">Submit</button>
      </div>
    </div>

    <div ng-if="sent" class="hidden" when-visible="animateTitleIn">
      <h1>Thanks!</h1>
      <p>Message Sent!</p>
    </div>
  </div>
</span>
