<md-dialog class="loginDialog">
  <br>
  <div class="btn-group">
    <div class="col s12">
      <img src="./assets/facebook_transparent.png" class="buttonLogo left">
      <a class="waves-effect waves-light btn faceButton"
        ng-click="authenticate('facebook')">
        Facebook <span class="hide-on-small-only">
          Login
        </span>
      </a>
    </div>
    <img src="./assets/google_transparent.png" class="buttonLogo left">
    <a class="waves-effect waves-light btn googButton"
      ng-click="authenticate('google')">
      Google <span class="hide-on-small-only">
        Login
      </span>
    </a>
  </div>

  <hr />

  <h5 class="center landingTitle">Login with Email</h5>

  <form>
    <md-input-container>
      <label>Email</label>
      <input ng-model="login.email" type="email">
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input ng-model="login.password" type="password">
    </md-input-container>
    <a class="btn col s12 right"
       ng-click="loginUser()">Enter</a>
  </form>

</md-dialog>
