<div class="row imgRow">
  <div class="imgWrapper">
    <img class="responsive-img landingImage" src="../..//assets/travelers.jpg" loading-image/>
    <span class="landingText" ng-if="imgLoaded">
      <h1 class="landingTitle">newfie</h1>
      <p class="landingTag">Travel with the right companions,
        <br />
      everytime</p>
    </span>
  </div>
</div>

<span ng-if="imgLoaded">
  <div class="row connect intro center">
    <h2 class="landingQuest">What's
      <span class="appName">
        newfie</span>?</h2>
    <p class="col s12 m4 offset-m4">
      The first travel site to focus on connecting you with the
      <span class="appName">best</span>
      guides and partners for your next trip. We promote experience,
      companionship, and honesty. Find
      <span class="appName">Guides</span>
      who can tranform your next holiday into the greatest experience and
      <span class="appName">Users</span>
      who will travel with you every step of the way.
    </p>
  </div>


  <div class="row landingUnique">
    <div class="col s12 m4">
      <div class="circle center">
        <i class="fa fa-map-signs uniqueIcon" aria-hidden="true"></i>
        <h4 class="uniqueTitle">Guide</h4>
        <p class="uniqueDesc">Lead companions with your knowledge from past experiences</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="circle center">
        <i class="fa fa-trophy uniqueIcon" aria-hidden="true"></i>
        <h4 class="uniqueTitle">Ranks</h4>
        <p class="uniqueDesc">Show off what you've done and where you been</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="circle center">
        <i class="fa fa-check-square-o uniqueIcon" aria-hidden="true"></i>
        <h4 class="uniqueTitle">Verify</h4>
        <p class="uniqueDesc">Ensure you're meeting the right travelers who share your vacation style</p>
      </div>
    </div>
  </div>

  <div class="row connect">
    <div class="info col s12 center">
      <h3>Bring It All Together</h3>
    </div>
    <div class="col s12 m6 center">
      <img class="logoImage" src="../..//assets/duolingo_logo.png">
      <h5>Prove Yourself!</h5>
      <p>Connect your Duolingo skills to your newfie account</p>
    </div>
    <div class="col s12 m6 center">
      <img class="logoImage" src="../..//assets/airbnb_logo.png">
      <h5>Sell Yourself!</h5>
      <p>Become a guide and advertise your AirBnB</p>
    </div>
  </div>
</span>
