<div class="row">
  <div class="col s12 m10 offset-m1">
    <h3>Travel Interests</h3>
    <div layout="column" ng-cloak>
      <p class="interestHelpers">What do you like to see when you travel?</p>
      <small class="interestHelpers">This will be used to help you find travel companions!</small>
      <md-input-container class="col s12">
        <label>Interests</label>
        <md-select ng-model="reg.selectedInterests"
                   multiple>
        <md-optgroup label="interests">
          <md-option ng-value="interest" ng-repeat="interest in reg.interests">
            {{interest}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <md-input-container class="col s12">
       <label>Custom</label>
       <input ng-model="reg.customInterest">
       <i class="addButton right fa fa-plus-circle"
          aria-hidden="true"
          ng-click="reg.addCustom(reg.customInterest)"></i>
     </md-input-container>

     <div ng-if="reg.selectedInterests.length">
       <div class="card animate-if" >
         <p class="card-title">Selected </p>
         <div class="card-action">
           <div ng-repeat="interest in reg.selectedInterests track by $index" class="langBox animate-repeat">
             <md-list-item class="secondary-button-padding">
               <p class="langText">{{interest}}</p>
               <md-button
                 ng-click="reg.removeInt(interest)" 
                 class="md-secondary"
                 aria-label="close">
                 <i
                 class="fa fa-times cancelLang"
                 aria-hidden="true"></i>
               </md-button>
             </md-list-item>
           </div>
         </div>
         <a class="right waves-effect btn regBtn"
         ng-click="reg.nextClicked()"
         ui-sref="registerNav.registerLocation">Next</a>
       </div>
     </div>


    </div>
  </div>
</div>
