<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BOWER COMPONENTS -->
    <script src="require.js" data-main="/js/vendor.js"></script>
    <link rel='stylesheet' href='/bower_components/angular-material/angular-material.min.css' />
    <link rel='stylesheet' href='/bower_components/Materialize/dist/css/materialize.min.css' />
    <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css' />
    <!--MY SOURCES -->
    <link rel='stylesheet' href='/css/style.min.css' />
    <script src="/js/main.js" charset="utf-8"></script>

  </head>
  <body ng-app="newfie">

  <div ui-view="root"></div>

  </body>
</html>
