<div class="row">
  <div ng-if="user.requests.length">
    <h4>Requests</h4>
    <div class="col s12 m4" ng-repeat="req in user.requests">
      <div class="card horizontal requestCard">
        <div class="card-image connectImg">
          <img ng-src="{{req.img}}">
        </div>
        <a class="right viewProfile" ui-sref="profileView({id: req._id})">View Profile</a>
        <div class="userInfo companionCard">
          <div class="connectName">
            {{req.name}}
          </div>
          <div class="card-action">
            <a ng-click="acceptCompanion(req._id)">Accept</a>
            <a ng-click="declineCompanion(req._id)">Decline</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">

    <div ng-if="!user.companions.length && !user.requests.length">
      <h3 class="center">No companions yet! Go
        <span class="connectHighlight" ui-sref="connect">Connect</span>
        with people.
      </h3>
    </div>

    <div ng-if="user.companions.length">
      <h4>Your Companions</h4>
      <div class="col s12 m4" ng-repeat="companion in user.companions">
        <div class="card horizontal requestCard">
          <div class="card-image connectImg">
            <img ng-src="{{companion.img}}">
          </div>
          <a class="right viewProfile" ui-sref="profileView({id: companion._id})">View Profile</a>
          <div class="userInfo companionCard">
            <div class="connectName">
              {{companion.name}}
            </div>
            <div class="card-action">
              <a ng-click="acceptCompanion(companion._id)">Messages</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
