<md-dialog aria-label="Messages" class="messagesDialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content style="max-width:800px;max-height:810px; ">
      <md-tabs md-dynamic-height md-border-bottom>

        <!-- MESSAGE LIST -->
        <md-tab label="messages">
          <md-content class="md-padding">

            <span ng-if="!viewing">
              <h1 class="md-display-2 heading">Messages</h1>
              <table ng-table="messages" class="table">
                <tr
                  ng-repeat="message in $data"
                  ng-class="{new: message.new}"
                  class="messageRow"
                  ng-click="viewMessage(message)">
                <td title="Sent" sortable="'createdAt'">
                  {{message.createdAt | date}}</td>
                  <td title="'Content'">
                    {{message.content | limitTo: 10}}
                    <span ng-if="message.content.length > 10">. . .</span>
                  </td>
                </tr>
                <tr ng-if="length === 0">
                  <td class="center">No Messages!</td>
                </tr>
              </table>
            </span>

            <span ng-if="viewing">
              <a ng-click="goBack()" class="messageBack">Back</a>
              <h3>{{currentMessage.author.name}} Said</h3>
              <p>{{currentMessage.content}}</p>
            </span>
          </md-content>
        </md-tab>

        <!-- SEND MESSAGE -->
        <md-tab label="send">
          <md-content class="md-padding">
            <h4 class="heading">Send a Message</h4>
            <p>Use the input below to talk to {{companion.name}}.</p>
            <md-input-container class="md-block">
             <label>Your Message</label>
             <textarea ng-model="newMessage.content" md-maxlength="450" rows="5" md-select-on-focus></textarea>
            </md-input-container>
            <span class="left messageSuccess" ng-if="sent">Message Sent!</span>
            <a class="right btn" ng-click="sendMessage()">Send</a>
          </md-content>
        </md-tab>

      </md-tabs>
    </md-dialog-content>

  </form>
</md-dialog>
