<div class="row">
  <h1>Where You've Been</h1>
  <p>Increase your score by marking the cities you've visited.</p>
  <p ng-if="city" class="col s12 m5">{{city}}</p>
  <div ng-if="pending">
    <a class="btn" ng-click="savePlace()">Save</a>
    <a class="btn-flat" ng-click="cancelPlace()">Cancel</a>
  </div>
  <ng-map default-style="false" zoom="2"
    on-click="getLocation()"
    center="49.905249238801304, -127.3370361328125">
    <marker ng-if="user.places"
            ng-repeat="place in user.places"
            position="{{place.lat}}, {{place.lng}}"
            title="Place!"></marker>
  </ng-map>
</div>
