.left.side.ng-scope {
    background-color: #f5f5f5;
    padding: .5em;
    border-radius: 25px;
    margin-left: 2em;
}

ul.card-panel {
    background-color: #6d819c;
    color: white;
}

h6.cardHeader {
    font-size: 1.4em;
    text-decoration: none;
}

.card-image.connectImg {
    padding: 5px;
    display: inline-block;
    height: 100px;
    width: 100px;
}

.userInfo {
    position: absolute;
    left: 8em;
    bottom: .2em;
}

.row .col.userList {
    margin-top: 8em;
}

span.connectTabs{
    background-color: lightgray;
    border-radius: 10px;
    padding: 3px;
    padding-left: 6px;
    margin: 2px;
}

.connectRow {
    margin-bottom: 1em;
}

span.connectRight {
    margin-left: 2em;
}

.connectName {
    font-weight: 900;
}

li.listedItems {
    cursor: pointer;
}

li.listedItems:hover, li.listedItems:active {
    text-decoration: underline;
}

.sideSearch {
  background-color: #6d819c;
  color: white;
}

.card.horizontal.profileCard {
  cursor: pointer;
}

.card.horizontal.profileCard:hover, .card.horizontal.profileCard:active {
  background-color: lightblue;
}
