body {
  font-family: 'Muli', sans-serif;
  background-color: #f4f4f4;
}

html {
  background-color: #f4f4f4;
}

.landing-nav {
  background-color: #55967e;
}

.navbar-fixed {
  height: 0;
}

nav ul a {
  color: #e4e7ec;
}

.imgWrapper {
  overflow-x: hidden;
  background-color: #364252;
}

img.responsive-img.landingImage {
  margin-top: -6em;
  max-width: 180%;
  opacity: 0.5;
}

span.landingText {
  position: absolute;
  z-index: 2;
  font-weight: 100;
  top: 15%;
  left: 12%;
}

h1.landingTitle {
  font-size: 7em;
  color: #263959;
}

.appName {
  color: #55967e;
}

h2.landingQuest {
    margin: 0;
}

p.landingTag {
    color: #e4e7ec;
    font-size: 2em;
}

.row.imgRow {
    margin-bottom: 0;
}

.row.landingUnique {
    background-color: #6d819c;
    padding: 70px;
    margin-bottom: 0;
}

.circle.center {
    margin: auto;
    width: 20em;
    height: 20em;
    padding: 2em;
    background-color: #e4e7ec;
}

p.uniqueDesc {
    width: 15em;
    margin: auto;
}

.uniqueIcon {
    font-size: 5em;
}

.row.connect {
    padding: 2em;
    margin-bottom: 0;
    background-color: #e4e7ec;
}

img.logoImage {
    height: 10em;
}

.navbar-fixed {
    height: 0;
    position: fixed;
    top: 0;
}

.row.connect.intro.center {
    background-color: #364252;
    color: #e4e7ec;
}

md-dialog#dialogContent_2 {
    width: 30%;
    padding: 20px;
}

hr {
    box-sizing: content-box;
    height: 0;
    width: 90%;
}

a.login {
  width: 16%;
  border: 1px solid;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.space {
  height: 300px;
}

.footer {
  color: rgba(#403f3f, 0.55);
}

md-input-container.landingContainer .md-input {
  border-color: #FFFFFF;
}

.landingLabel {
  color: #FFFFFF;
}

input.landingInput, textarea.landingInput {
  color: #FFFFFF;
}

input.landingInput:not([type]):focus:not([readonly]) {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}

md-input-container.landingContainer:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #FFFFFF;
}

md-input-container.landingContainer:not(.md-input-invalid).md-input-focused label {
  color: #FFFFFF;
}

md-input-container.landingContainer:not(.md-input-invalid).md-input-has-value label {
  color: #FFFFFF;
}

.hidden {
  visibility: hidden;
}

.pupPicture {
  height: 100px;
  width: 100px;
  margin-bottom: 1em;
}

.footerPicture {
  margin-top: 2em;
  cursor: pointer;
}

.row.connect.intro.center.bottom {
  height: 35em;
}

md-dialog.loginDialog {
  width: 30%;
  padding: 1em;
}

a.waves-effect.waves-light.btn.faceButton {
  background-color: #4867aa;
}

a.waves-effect.waves-light.btn.googButton {
  background-color: #269656;
}

.buttonLogo {
  padding-top: 10px;
  padding-right: 10px;
  height: 35px;
  width: auto;
}

.landingTitle {
  font-family: 'Montserrat', sans-serif;
}

.transparentNav {
  background-color: rgba(85,150,126, 0.05);
}

.greenNav {
  background-color: #55967e;
}
