body {
  font-family: 'Muli', sans-serif;;
}

a {
  color: #55967e;
}

.landing-nav {
  background-color: rgba(#55967e, 0.05);
}

.navbar-fixed {
  height: 0;
}

nav ul a {
  color: #e4e7ec;
}

.imgWrapper {
  overflow-x: hidden;
  background-color: #6d819c;
}

img.responsive-img.landingImage {
  margin-top: -6em;
  max-width: 180%;
  opacity: 0.5;
}

span.landingText {
  position: absolute;
  z-index: 2;
  font-weight: 100;
  top: 15%;
  left: 12%;
}

h1.landingTitle {
  font-size: 7em;
  color: #263959;
}

p.landingTag {
    color: #e4e7ec;
    font-size: 2em;
}
