body {
  font-family: 'Muli', sans-serif;
}

.landing-nav {
  background-color: #55967e;
}

.navbar-fixed {
  height: 0;
}

nav ul a {
  color: #e4e7ec;
}

.imgWrapper {
  overflow-x: hidden;
  background-color: #364252;
}

img.responsive-img.landingImage {
  margin-top: -6em;
  max-width: 180%;
  opacity: 0.5;
}

span.landingText {
  position: absolute;
  z-index: 2;
  font-weight: 100;
  top: 15%;
  left: 12%;
}

h1.landingTitle {
  font-size: 7em;
  color: #263959;
}

.appName {
  color: #55967e;
}

h2.landingQuest {
    margin: 0;
}

p.landingTag {
    color: #e4e7ec;
    font-size: 2em;
}

.row.imgRow {
    margin-bottom: 0;
}

.row.landingUnique {
    background-color: #6d819c;
    padding: 2em;
    margin-bottom: 0;
}

.circle.center {
    margin: auto;
    width: 20em;
    height: 20em;
    padding: 2em;
    background-color: #e4e7ec;
}

p.uniqueDesc {
    width: 15em;
    margin: auto;
}

.uniqueIcon {
    font-size: 5em;
}

.row.connect {
    padding: 2em;
    margin-bottom: 0;
    background-color: #e4e7ec;
}

img.logoImage {
    height: 10em;
}

.navbar-fixed {
    height: 0;
    position: fixed;
    top: 0;
}
