@media only screen and (max-device-width: 480px) {
    // .bar {
    //   display: none;
    // }

    img.responsive-img.landingImage {
        margin-top: 0;
        max-width: 350%;
        margin-left: -25em;
    }

    h1.landingTitle {
      font-size: 3em;
    }

    span.landingText {
      position: absolute;
      z-index: 2;
      font-weight: 100;
      top: 8%;
      left: 12%;
    }

    ul.right {
      margin-top: 0em;
    }

    h3 {
      font-size: 2em;
    }

    h5.userName {
        text-align: center;
    }

    i.fa.fa-plus {
        padding: .47em;
    }

    .row.landingUnique {
        padding: 0px;
    }

    .circle.center {
        margin-top: 15px;
        margin-bottom: 15px;
    }


}
