$myColor: #490000;

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $myColor;
}

.landing-nav {
  background-color: #6C49B8;
}

.row .col.s3.progress {
  margin-left: 1em;
  margin-right: 1em;
}

.btn-group a {
  display: block;
  margin-bottom: 2em;
}

.reg-form {
  display: block;
}

.modal {
  width: 40%;
}
