$myColor: #490000;

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $myColor;
}

.landing-nav {
  background-color: #6C49B8;
}

.row .col.s3.progress {
  margin-left: 1em;
  margin-right: 1em;
}

.btn-group a {
  display: block;
  margin-bottom: 2em;
}

.reg-form {
  display: block;
}

.modal {
  width: 40%;
}

.langText, .langBox {
  display: inline;
}

.langText {
  font-size: 20px;
}

.cancelLang, .cancelLang:hover {
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.englishName {
  color: orange;
}

.helperText {
  font-size: 12px;
  opacity: .5;
}

.interestHelpers {
  display: block;
  margin-bottom: 10px;
}

.addButton {
  color: green;
  font-size: 20px;
}

.interestNext {

}
