.bar {
  margin-top: 5em;
}

.progress {
  border: 1px solid black;
  background-color: #e4e7ec;
  cursor: pointer;
}

.selected {
  background-color: #6d819c;
  color: #263959;
}

.btn-group a {
  display: block;
  margin-bottom: 2em;
}

.reg-form {
  display: block;
}

.modal {
  width: 40%;
}

.langText, .langBox {
  display: inline;
}

.langText {
  font-size: 20px;
}

.cancelLang, .cancelLang:hover {
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.englishName {
  color: orange;
}

.helperText {
  font-size: 12px;
  opacity: .5;
}

.interestHelpers {
  display: block;
  margin-bottom: 10px;
}

.addButton {
  color: green;
  font-size: 20px;
}

.highlight {
  color: rgb(1, 173, 153);
  font-weight: bold;
}
