<div class="container">
  <div class="row">
     <a data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light red hide-on-med-and-up">
       <i class="fa fa-search" aria-hidden="true"></i>
     </a>

    <div class="col m3 hide-on-small-only">
      <h1>Connect</h1>

      <ul class="card-panel">
        <h5 class="cardHeader">User Types</h5>
        <li class="listedItems" ng-click="all()">All ({{counts.total}})</li>
        <li class="listedItems" ng-click="typeSelect('Guide')" ng-if="counts.guide">Guides ({{counts.guide}})</li>
        <li class="listedItems" ng-click="typeSelect('User')" ng-if="counts.user">Users ({{counts.user}})</li>
      </ul>
      <ul class="card-panel">
        <h5 class="cardHeader">Interests</h5>
        <li class="listedItems" ng-repeat="topic in topics" ng-click="interestSelect(topic)">{{topic}} ({{counts.topic[topic]}})</li>
      </ul>
    </div>


    <div class="col s12 m9 userList">
      <div ng-repeat="user in users | orderBy: '-score'"
           class="userPick"
           ui-sref="profileView({id: user._id})">
        <div class="card horizontal">
          <div class="card-image connectImg">
            <img ng-src="{{user.img}}">
          </div>
          <div class="userInfo">
            <div class="connectName">
              {{user.name}}
            </div>
            <div class="connectRow">
              <span>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>
                  {{user.score}}
                </span>
              </span>
              <span class="connectRight">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <span ng-repeat="int in user.interests | limitTo:2" class="connectTabs">
                  {{int}}
                </span>
              </span>
            </div>
            <div class="connectRow">
              <span>
                <i class="fa fa-map-o" aria-hidden="true"></i>
                <span>
                  {{user.location.location}}
                </span>
              </span>
              <span class="connectRight">
                <i class="fa fa-language" aria-hidden="true"></i>
                <span ng-repeat="lang in user.languages | limitTo:2" class="connectTabs">
                  {{lang.name}}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="slide-out" class="side-nav">
  <div class="col s12 sideSearch">
    <ul>
      <h5>User Types</h5>
      <li class="listedItems" ng-click="all()">All ({{counts.total}})</li>
      <li class="listedItems" ng-click="typeSelect('Guide')" ng-if="counts.guide">Guides ({{counts.guide}})</li>
      <li class="listedItems" ng-click="typeSelect('User')" ng-if="counts.user">Users ({{counts.user}})</li>
    </ul>
    <ul>
      <h5>Interests</h5>
      <li class="listedItems" ng-repeat="topic in topics" ng-click="interestSelect(topic)">{{topic}} ({{counts.topic[topic]}})</li>
    </ul>
  </div>
</div>
