<div class="container">
  <div class="row">

    <div class="col m3" ng-if="mobile">
      <h1>Connect</h1>

      <ul class="card-panel">
        <h5 class="cardHeader">User Types</h5>
        <li>All ({{users.length}})</li>
        <li ng-if="counts.guide">Guides ({{counts.guide}})</li>
        <li ng-if="counts.user">Users ({{counts.user}})</li>
      </ul>
      <ul class="card-panel">
        <h5 class="cardHeader">Interests</h5>
        <li ng-repeat="topic in topics">{{topic}} ({{counts.topic[topic]}})</li>
      </ul>
    </div>


    <div class="col s9">
      <div ng-repeat="user in users"
           class="userPick"
           ui-sref="profileView({id: user._id})">
        <div class="card horizontal">
          <div class="card-image">
            <img ng-src="{{user.img}}">
          </div>
          <div class="userInfo">
            <div class="connectName">
              {{user.name}}
            </div>
            <div class="connectRow">
              <span>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>
                  {{user.score}}
                </span>
              </span>
              <span class="connectRight">
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <span ng-repeat="int in user.interests | limitTo:3" class="connectTabs">
                  {{int}}
                </span>
              </span>
            </div>
            <div class="connectRow">
              <span>
                <i class="fa fa-map-o" aria-hidden="true"></i>
                <span>
                  {{user.location.location}}
                </span>
              </span>
              <span class="connectRight">
                <i class="fa fa-language" aria-hidden="true"></i>
                <span ng-repeat="lang in user.languages | limitTo:3" class="connectTabs">
                  {{lang.name}}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
